body{
    background-image: linear-gradient( to top,#FF416C,#FF4B2B);
}

.table{
    color: black
}

.jumbotron{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: pink;
    text-align: center;
    background-repeat: no-repeat;
      background-size: cover;
   
}

.carousel-inner img{
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 100%;
    height: auto;   
}

p{
    padding-top: 60px;
}

.navbar .navbar-brand {
   font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: pink
    
}

.navbar .navbar-brand:hover{
    color:#f7797d;
}

.navbar-nav a:link{
    color:pink;
}

.navbar-nav a:hover{
    color: #FF416C;
    text-decoration: none;
}

.carousel-caption{
    color: #FF416C;
    text-decoration: none; 
}

.carousel-caption p{
    text-align: center;
    color: rgb(233, 22, 92);
    text-decoration: underline; 
}

#Localh1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-decoration-style: dotted;
}

#brw  

{
width: 50px;
height: 60px;  
}

#best
{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
/*Best sellers*/

.container{
    position: relative;
    width: 50%;
}

#local1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50);
    text-align: center;
}

.container:hover #local1 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text{
    background-color: #f7797d;
    color: #FF4B2B;
    font-size: 16px;
    padding: 16px 32px;
}

#Capri{
    width: 400px;
    height: auto; 
      padding-right: 40px;
      margin-block-end: 40px;

}

#pink{
    width: 400px;
    height: auto; 
      padding-right: 190px;
      padding-top: 20px;
}

#Bw{
    width: 400px;
    height: auto; 
      padding-right: 40%;
}

#Brw{
    width: 400px;
    height: auto; 
      padding-right: 40%;
}

#Sb{
    width: 400px;
    height: auto; 
      padding-left: 20%;
     padding-right: 40%;
     padding-top: 40px;
}

/* Location Code */

.container{
    position: relative;
    width: 50%;
}

#local1{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 10px;
}

#local2{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-left: 60px;
    margin: 60px;
}
#local3{
    opacity: 1;
    display: block;
    width: 250px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-right: 80%;

}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50);
    text-align: center;
}

.container:hover #local1 {
    opacity: 0.3;
}

.container:hover #local2 {
    opacity: 0.3;
}

.container:hover #local3 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text{
    background-color: #f7797d;
    color: #FF4B2B;
    font-size: 16px;
    padding: 16px 32px;
}
