body{
    background-image: linear-gradient( to top,#FF416C,#FF4B2B);
}

.carousel-inner img{
    width: 100%;
    height: auto;   
}

.navbar .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: pink
    
}

.navbar .navbar-brand:hover{
    color:fuchsia;
}

.navbar-nav a:link{
    color:pink;
}

.navbar-nav a:hover{
    color: #FF416C;
    text-decoration: none;
}

