body{
    background-image: linear-gradient( to top,#FF416C,#FF4B2B);
}

.jumbotron{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: pink;
    text-align: center;
    background-repeat: no-repeat;
      background-size: cover;
   
}

.carousel-inner img{
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 24px;
    width: 100%;
    height: auto;   
}

p{
    padding-top: 60px;
}

.navbar .navbar-brand {
   font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: pink
    
}

.navbar .navbar-brand:hover{
    color:#f7797d;
}

.navbar-nav a:link{
    color:pink;
}

.navbar-nav a:hover{
    color: #FF416C;
    text-decoration: none;
}

.carousel-caption{
    color: #FF416C;
    text-decoration: none; 
}

.carousel-caption p{
    text-align: center;
    color: rgb(233, 22, 92);
    text-decoration: underline; 
}

#Local{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#brw  

{
width: 50px;
height: 60px;  
}

#best
{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}